@font-face {
  font-family: "BalooPaajiExtraBold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("~@/assets/fonts/Baloo_Paaji_2/BalooPaaji2-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "BalooPaajiBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~@/assets/fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "BalooPaajiSemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~@/assets/fonts/Baloo_Paaji_2/BalooPaaji2-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "BalooPaajiMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@/assets/fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "BalooPaaji";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf")
    format("truetype");
}

// font-sizes
